* {
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: black;
}
li{
  list-style: none;
}
body{
  font-family: 'Mulish', sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.header{
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 32px;
  padding-right: 70px;
  margin-bottom: 30px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 99;
}
.menu-button{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  padding: 0;
  width:20px;
  height:17px;
  border: none;
  margin-right: 28px;
  cursor: pointer;
  outline: none;
}
.menu-line{
  display: block;
  width: 20px;
  height: 3px;
  background-color: #1F2022;
  border-radius: 20px;
}
.logo{
  margin-right: 59px;
}
.input-group{
  background: #EBEBEB;
  border-radius: 22px;
  display: flex;
  /*justify-content: space-between;*/
  align-items: center;
  padding-right: 20px;
  align-items: center;
  max-width: 830px;
  width: 50%;
}
.input-search{
  background-color: transparent;
  border: none;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 23px;
  padding-left: 23px;
  width: 100%;
  outline: none;
}
.button-search{
  width: 19px;
  height: 19px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}
.icon-search{
  fill: black;
}
.icons-block{
  display: flex;
  align-items: center;
  margin-left: auto;
}
.icons-link{
  text-decoration: none;
  opacity: 0.24;
}
.icons-link:hover{
  opacity: 0.8;
  transition: 0.6s;
}
.icons-link:not(:last-child){
  margin-right: 50px;
}
.user{
  margin-left: 45px;
  
}
.user-avatar{
  border-radius: 50%;
  width: 40px;
  height: 40px;
  object-fit: cover; /*не розмиває картинку при зменшенні вигляду*/
}
.nav-menu{
  margin-top: 0;
  margin-bottom: 60px;
  padding-left: 0;
  list-style: none;
}
.sidebar{
  width: 11.5%;
  position: fixed;
  left: 0;
  top: 114px;
  padding-left: 32px;
  height: calc(100% - 114px);
  overflow-y:auto;
  background-color: white;
}
.nav-item{
  margin-bottom: 28px;
  color: #898989;
}
.nav-item .icon{
  fill: #898989;
}
.nav-link{
  color: #898989;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.nav-link:hover{
  color: red;
  transition: 0.6s;
}
.nav-link:hover .icon{
  fill: red;
  transition: 0.6s;
}
.nav-text{
  margin-left: 13px;
}
.nav-image{
  width: 26px;
  height: 26px;
  border-radius: 50%;
}
.nav-title{
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 30px;
}
.nav-menu-settings{
  margin-top: 104px;
  margin-bottom: 40px;
  padding-left: 0;
  list-style: none;
}
.main-content{
  width: 100%;
  height: 500px;
  background-color: white;
  margin-top: 85px;
  padding-left: 13%;
  padding-top: 30px;
}
.channel-slider{
  margin-top: 30px;
}
.channel-title{
  display: flex;
  align-items: center;
  color: #19202C;
  font-weight: bold;
  font-size: 26px;
  line-height: 33px;
  width: 15%;
}
.channel-avatar{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
.channel-text{
  margin-left: 20px;
}
.video-card{
  width: 250px;
}
.video-thumb{
  width: 250px;
  height: 150px;
  overflow: hidden;
  border-radius: 14px;
  position: relative;
}
.thumbnail{
  width: 250px;
  height: 150px;
  object-fit: cover;
}
.video-duration{
  position: absolute;
  right: 10px;
  bottom: 10px;
  background: #000000;
  color: white;
  opacity: 0.3;
  border-radius: 12px;
  font-size: 14px;
  line-height: 18px;
  padding: 3px 9px;
}
.video-title{
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #19202C;
  margin-top: 10px;
  margin-bottom: 4px;
}
.video-info{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 13px;
  line-height: 16px;
  color: #C2C2C2;
}
.video-counter{
  display: flex;
}
.video-views{
  margin-right: 5px;
}
.video-views:after{
  content: '';
  width: 2px;
  height: 2px;
  background: #C2C2C2;
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
}
.channel-button{
  cursor: pointer;
}
.channel-button-next{
  outline: none;
}
.channel-button-prev{
  outline: none;
}
.slider-buttons{
  position: absolute;
  top: 15px;
  right: 144px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 66px;
}
.channel{
  position: relative;
  margin-bottom: 50px;
}


